<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%-5level [%d] %logger %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.grpc.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="bluewater" level="DEBUG" />
</configuration>